<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="factura">
      <h2 data-cy="facturaDetailsHeading"><span jhiTranslate="clienteApp.factura.detail.title">Factura</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ factura.id }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.factura.metodoPago">Metodo Pago</span></dt>
        <dd>
          <span>{{ factura.metodoPago }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.factura.subtotal">Subtotal</span></dt>
        <dd>
          <span>{{ factura.subtotal }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.factura.montoTotal">Monto Total</span></dt>
        <dd>
          <span>{{ factura.montoTotal }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.factura.impuesto">Impuesto</span></dt>
        <dd>
          <span>{{ factura.impuesto }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.factura.detalleFactura">Detalle Factura</span></dt>
        <dd>
          <div *ngIf="factura.detalleFactura">
            <a [routerLink]="['/detalle-factura', factura.detalleFactura.id, 'view']">{{ factura.detalleFactura.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="clienteApp.factura.clienteFactura">Cliente Factura</span></dt>
        <dd>
          <div *ngIf="factura.clienteFactura">
            <a [routerLink]="['/cliente', factura.clienteFactura.id, 'view']">{{ factura.clienteFactura.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="clienteApp.factura.clienteColaborador">Cliente Colaborador</span></dt>
        <dd>
          <div *ngIf="factura.clienteColaborador">
            <a [routerLink]="['/colaborador', factura.clienteColaborador.id, 'view']">{{ factura.clienteColaborador.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/factura', factura.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
