<!-- Vista que permite gestionar las tarifas
eliminar, crear, editar y ver -->
<div>
  <h2 id="page-heading" data-cy="TarifaHeading">
    <span jhiTranslate="clienteApp.tarifa.home.title">Tarifas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="clienteApp.tarifa.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tarifa"
        [routerLink]="['/tarifa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clienteApp.tarifa.home.createLabel"> Crear nuevo Tarifa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tarifas?.length === 0">
    <span jhiTranslate="clienteApp.tarifa.home.notFound">Ningún Tarifas encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tarifas && tarifas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoTarifa">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.tarifa.tipoTarifa">Tipo Tarifa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarifaAdulto">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.tarifa.tarifaAdulto">Tarifa Adulto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarifaMenor">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.tarifa.tarifaMenor">Tarifa Menor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarifa of tarifas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tarifa', tarifa.id, 'view']">{{ tarifa.id }}</a>
          </td>
          <td>{{ tarifa.tipoTarifa }}</td>
          <td>{{ tarifa.tarifaAdulto }}</td>
          <td>{{ tarifa.tarifaMenor }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tarifa', tarifa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/tarifa', tarifa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(tarifa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
