<!-- Vista que permite gestionar habitaciones
eliminar, crear, editar y ver -->
<div>
  <h2 id="page-heading" data-cy="HabitacionHeading">
    <span jhiTranslate="clienteApp.habitacion.home.title">Habitacions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="clienteApp.habitacion.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-habitacion"
        [routerLink]="['/habitacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clienteApp.habitacion.home.createLabel"> Crear nuevo Habitacion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="habitacions?.length === 0">
    <span jhiTranslate="clienteApp.habitacion.home.notFound">Ningún Habitacions encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="habitacions && habitacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipo">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.habitacion.tipo">Tipo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="capacidadAdulto">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.habitacion.capacidadAdulto">Capacidad Adulto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="capacidadMenor">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.habitacion.capacidadMenor">Capacidad Menor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="disponible">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.habitacion.disponible">Disponible</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarifa.id">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.habitacion.tarifa">Tarifa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let habitacion of habitacions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/habitacion', habitacion.id, 'view']">{{ habitacion.id }}</a>
          </td>
          <td>{{ habitacion.tipo }}</td>
          <td>{{ habitacion.capacidadAdulto }}</td>
          <td>{{ habitacion.capacidadMenor }}</td>
          <td>{{ habitacion.disponible }}</td>
          <td>
            <div *ngIf="habitacion.tarifa">
              <a [routerLink]="['/tarifa', habitacion.tarifa.id, 'view']">{{ habitacion.tarifa.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/habitacion', habitacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/habitacion', habitacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(habitacion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
