<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="evento">
      <h2 data-cy="eventoDetailsHeading"><span jhiTranslate="clienteApp.evento.detail.title">Evento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ evento.id }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.evento.nombreEvento">Nombre Evento</span></dt>
        <dd>
          <span>{{ evento.nombreEvento }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.evento.fechaHora">Fecha Hora</span></dt>
        <dd>
          <span>{{ evento.fechaHora | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.evento.capacidadAdulto">Capacidad Adulto</span></dt>
        <dd>
          <span>{{ evento.capacidadAdulto }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.evento.capacidadMenor">Capacidad Menor</span></dt>
        <dd>
          <span>{{ evento.capacidadMenor }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.evento.tarifa">Tarifa</span></dt>
        <dd>
          <div *ngIf="evento.tarifa">
            <a [routerLink]="['/tarifa', evento.tarifa.id, 'view']">{{ evento.tarifa.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="clienteApp.evento.encargado">Encargado</span></dt>
        <dd>
          <div *ngIf="evento.encargado">
            <a [routerLink]="['/colaborador', evento.encargado.id, 'view']">{{ evento.encargado.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/evento', evento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
