<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-factura-heading" data-cy="FacturaCreateUpdateHeading" jhiTranslate="clienteApp.factura.home.createOrEditLabel">
        Crear o editar Factura
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.factura.metodoPago" for="field_metodoPago">Metodo Pago</label>
          <input
            type="text"
            class="form-control"
            name="metodoPago"
            id="field_metodoPago"
            data-cy="metodoPago"
            formControlName="metodoPago"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.factura.subtotal" for="field_subtotal">Subtotal</label>
          <input type="number" class="form-control" name="subtotal" id="field_subtotal" data-cy="subtotal" formControlName="subtotal" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.factura.montoTotal" for="field_montoTotal">Monto Total</label>
          <input
            type="number"
            class="form-control"
            name="montoTotal"
            id="field_montoTotal"
            data-cy="montoTotal"
            formControlName="montoTotal"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.factura.impuesto" for="field_impuesto">Impuesto</label>
          <input type="number" class="form-control" name="impuesto" id="field_impuesto" data-cy="impuesto" formControlName="impuesto" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.factura.detalleFactura" for="field_detalleFactura">Detalle Factura</label>
          <select
            class="form-control"
            id="field_detalleFactura"
            data-cy="detalleFactura"
            name="detalleFactura"
            formControlName="detalleFactura"
            [compareWith]="compareDetalleFactura"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="detalleFacturaOption" *ngFor="let detalleFacturaOption of detalleFacturasSharedCollection">
              {{ detalleFacturaOption.id }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.factura.clienteFactura" for="field_clienteFactura">Cliente Factura</label>
          <select
            class="form-control"
            id="field_clienteFactura"
            data-cy="clienteFactura"
            name="clienteFactura"
            formControlName="clienteFactura"
            [compareWith]="compareCliente"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="clienteOption" *ngFor="let clienteOption of clientesSharedCollection">{{ clienteOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.factura.clienteColaborador" for="field_clienteColaborador"
            >Cliente Colaborador</label
          >
          <select
            class="form-control"
            id="field_clienteColaborador"
            data-cy="clienteColaborador"
            name="clienteColaborador"
            formControlName="clienteColaborador"
            [compareWith]="compareColaborador"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="colaboradorOption" *ngFor="let colaboradorOption of colaboradorsSharedCollection">
              {{ colaboradorOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
