<!-- Vista que permite gestionar eventos
eliminar, crear, editar y ver -->
<div>
  <h2 id="page-heading" data-cy="EventoHeading">
    <span jhiTranslate="clienteApp.evento.home.title">Eventos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="clienteApp.evento.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-evento"
        [routerLink]="['/evento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clienteApp.evento.home.createLabel"> Crear nuevo Evento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eventos?.length === 0">
    <span jhiTranslate="clienteApp.evento.home.notFound">Ningún Eventos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="eventos && eventos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreEvento">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.evento.nombreEvento">Nombre Evento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaHora">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.evento.fechaHora">Fecha Hora</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="capacidadAdulto">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.evento.capacidadAdulto">Capacidad Adulto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="capacidadMenor">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.evento.capacidadMenor">Capacidad Menor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarifa.id">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.evento.tarifa">Tarifa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="encargado.id">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.evento.encargado">Encargado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/evento', evento.id, 'view']">{{ evento.id }}</a>
          </td>
          <td>{{ evento.nombreEvento }}</td>
          <td>{{ evento.fechaHora | formatMediumDatetime }}</td>
          <td>{{ evento.capacidadAdulto }}</td>
          <td>{{ evento.capacidadMenor }}</td>
          <td>
            <div *ngIf="evento.tarifa">
              <a [routerLink]="['/tarifa', evento.tarifa.id, 'view']">{{ evento.tarifa.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evento.encargado">
              <a [routerLink]="['/colaborador', evento.encargado.id, 'view']">{{ evento.encargado.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/evento', evento.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/evento', evento.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(evento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
