<div>
  <h2 id="page-heading" data-cy="FacturaHeading">
    <span jhiTranslate="clienteApp.factura.home.title">Facturas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="clienteApp.factura.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-factura"
        [routerLink]="['/factura/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clienteApp.factura.home.createLabel"> Crear nuevo Factura </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="facturas?.length === 0">
    <span jhiTranslate="clienteApp.factura.home.notFound">Ningún Facturas encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="facturas && facturas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="metodoPago">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.factura.metodoPago">Metodo Pago</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subtotal">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.factura.subtotal">Subtotal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montoTotal">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.factura.montoTotal">Monto Total</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="impuesto">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.factura.impuesto">Impuesto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="detalleFactura.id">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.factura.detalleFactura">Detalle Factura</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clienteFactura.id">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.factura.clienteFactura">Cliente Factura</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clienteColaborador.id">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.factura.clienteColaborador">Cliente Colaborador</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factura of facturas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/factura', factura.id, 'view']">{{ factura.id }}</a>
          </td>
          <td>{{ factura.metodoPago }}</td>
          <td>{{ factura.subtotal }}</td>
          <td>{{ factura.montoTotal }}</td>
          <td>{{ factura.impuesto }}</td>
          <td>
            <div *ngIf="factura.detalleFactura">
              <a [routerLink]="['/detalle-factura', factura.detalleFactura.id, 'view']">{{ factura.detalleFactura.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="factura.clienteFactura">
              <a [routerLink]="['/cliente', factura.clienteFactura.id, 'view']">{{ factura.clienteFactura.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="factura.clienteColaborador">
              <a [routerLink]="['/colaborador', factura.clienteColaborador.id, 'view']">{{ factura.clienteColaborador.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/factura', factura.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/factura', factura.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(factura)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
