<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reservar-evento-heading"
        data-cy="ReservarEventoCreateUpdateHeading"
        jhiTranslate="clienteApp.reservarEvento.home.createOrEditLabel"
      >
        Crear o editar Reservar Evento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.reservarEvento.fechaReservacion" for="field_fechaReservacion"
            >Fecha Reservacion</label
          >
          <div class="d-flex">
            <input
              id="field_fechaReservacion"
              data-cy="fechaReservacion"
              type="datetime-local"
              class="form-control"
              name="fechaReservacion"
              formControlName="fechaReservacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.reservarEvento.totalReservacion" for="field_totalReservacion"
            >Total Reservacion</label
          >
          <input
            type="number"
            class="form-control"
            name="totalReservacion"
            id="field_totalReservacion"
            data-cy="totalReservacion"
            formControlName="totalReservacion"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.reservarEvento.clienteReservaEvento" for="field_clienteReservaEvento"
            >Cliente Reserva Evento</label
          >
          <select
            class="form-control"
            id="field_clienteReservaEvento"
            data-cy="clienteReservaEvento"
            name="clienteReservaEvento"
            formControlName="clienteReservaEvento"
            [compareWith]="compareCliente"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="clienteOption" *ngFor="let clienteOption of clientesSharedCollection">{{ clienteOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="clienteApp.reservarEvento.colaboradorReservaEvento" for="field_colaboradorReservaEvento"
            >Colaborador Reserva Evento</label
          >
          <select
            class="form-control"
            id="field_colaboradorReservaEvento"
            data-cy="colaboradorReservaEvento"
            name="colaboradorReservaEvento"
            formControlName="colaboradorReservaEvento"
            [compareWith]="compareColaborador"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="colaboradorOption" *ngFor="let colaboradorOption of colaboradorsSharedCollection">
              {{ colaboradorOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
