<div>
  <h2 id="page-heading" data-cy="ReservarEventoHeading">
    <span jhiTranslate="clienteApp.reservarEvento.home.title">Reservar Eventos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="clienteApp.reservarEvento.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reservar-evento"
        [routerLink]="['/reservar-evento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clienteApp.reservarEvento.home.createLabel"> Crear nuevo Reservar Evento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reservarEventos?.length === 0">
    <span jhiTranslate="clienteApp.reservarEvento.home.notFound">Ningún Reservar Eventos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="reservarEventos && reservarEventos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaReservacion">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.reservarEvento.fechaReservacion">Fecha Reservacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalReservacion">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.reservarEvento.totalReservacion">Total Reservacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clienteReservaEvento.id">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.reservarEvento.clienteReservaEvento">Cliente Reserva Evento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="colaboradorReservaEvento.id">
            <div class="d-flex">
              <span jhiTranslate="clienteApp.reservarEvento.colaboradorReservaEvento">Colaborador Reserva Evento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservarEvento of reservarEventos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reservar-evento', reservarEvento.id, 'view']">{{ reservarEvento.id }}</a>
          </td>
          <td>{{ reservarEvento.fechaReservacion | formatMediumDatetime }}</td>
          <td>{{ reservarEvento.totalReservacion }}</td>
          <td>
            <div *ngIf="reservarEvento.clienteReservaEvento">
              <a [routerLink]="['/cliente', reservarEvento.clienteReservaEvento.id, 'view']">{{
                reservarEvento.clienteReservaEvento.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reservarEvento.colaboradorReservaEvento">
              <a [routerLink]="['/colaborador', reservarEvento.colaboradorReservaEvento.id, 'view']">{{
                reservarEvento.colaboradorReservaEvento.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reservar-evento', reservarEvento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reservar-evento', reservarEvento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(reservarEvento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
