<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="detalleFactura">
      <h2 data-cy="detalleFacturaDetailsHeading"><span jhiTranslate="clienteApp.detalleFactura.detail.title">Detalle Factura</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ detalleFactura.id }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.detalleFactura.fechaEmitido">Fecha Emitido</span></dt>
        <dd>
          <span>{{ detalleFactura.fechaEmitido }}</span>
        </dd>
        <dt><span jhiTranslate="clienteApp.detalleFactura.habitacionReservada">Habitacion Reservada</span></dt>
        <dd>
          <div *ngIf="detalleFactura.habitacionReservada">
            <a [routerLink]="['/reservar-habitacion', detalleFactura.habitacionReservada.id, 'view']">{{
              detalleFactura.habitacionReservada.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="clienteApp.detalleFactura.eventoReservado">Evento Reservado</span></dt>
        <dd>
          <div *ngIf="detalleFactura.eventoReservado">
            <a [routerLink]="['/reservar-evento', detalleFactura.eventoReservado.id, 'view']">{{ detalleFactura.eventoReservado.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/detalle-factura', detalleFactura.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
